import type { Meta, StoryObj } from "storybook-solidjs-vite";
import { {{NAME}} } from "./{{NAME_LOWER}}";

const meta = {
	title: "{{TIER_TITLE}}/{{NAME}}",
	component: {{NAME}},
	tags: ["autodocs"],
	argTypes: {
		{{ARG_TYPES}}
	},
} satisfies Meta<typeof {{NAME}}>;

export default meta;
type Story = StoryObj<typeof meta>;

{{VARIANT_STORIES}}

{{SIZE_STORIES}}
