@import "tailwindcss";
@import "tw-animate-css";
@plugin "@kobalte/tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
	/* Fonts */
	--font-body: "Inter", sans-serif;
	--font-title: "Inter", sans-serif;

	--color-*: initial;

	/* light theme */
	--color-surface: oklch(0.985 0 0);
	--color-surface-alt: oklch(0.92 0.004 286.32);
	--color-on-surface: oklch(0.37 0.013 285.805);
	--color-on-surface-muted: oklch(0.55 0.012 285.805);
	--color-on-surface-subtle: oklch(0.6 0.012 285.805);
	--color-on-surface-strong: oklch(0.21 0.006 285.885);
	--color-primary: oklch(0.585 0.233 277.117);
	--color-on-primary: #fff;
	--color-secondary: oklch(0.696 0.17 162.48);
	--color-on-secondary: #000;
	--color-outline: oklch(0.871 0.006 286.286);
	--color-outline-strong: oklch(0.705 0.015 286.067);

	/* dark theme */
	--color-surface-dark: oklch(0.21 0.006 285.885);
	--color-surface-dark-alt: oklch(0.274 0.006 286.033);
	--color-on-surface-dark: oklch(0.871 0.006 286.286);
	--color-on-surface-dark-muted: oklch(0.75 0.012 286.286);
	--color-on-surface-dark-subtle: oklch(0.65 0.012 286.286);
	--color-on-surface-dark-strong: oklch(0.967 0.001 286.375);
	--color-primary-dark: oklch(0.72 0.25 292.717);
	--color-on-primary-dark: #000;
	--color-secondary-dark: oklch(0.45 0.143 215.221);
	--color-on-secondary-dark: #fff;
	--color-outline-dark: oklch(0.37 0.013 285.805);
	--color-outline-dark-strong: oklch(0.552 0.016 285.938);

	/* semantic colors - light mode */
	--color-info: oklch(0.5 0.15 237.323);
	--color-on-info: #fff;
	--color-success: oklch(0.45 0.18 149.579);
	--color-on-success: #fff;
	--color-warning: oklch(0.5 0.15 86.047);
	--color-on-warning: #fff;
	--color-danger: oklch(0.5 0.2 25.331);
	--color-on-danger: #fff;

	/* semantic colors - dark mode */
	--color-info-dark: oklch(0.7 0.15 237.323);
	--color-success-dark: oklch(0.65 0.18 149.579);
	--color-warning-dark: oklch(0.7 0.15 86.047);
	--color-danger-dark: oklch(0.7 0.2 25.331);

	/* border radius */
	--radius-radius: var(--radius-sm);
}
